<!DOCTYPE html>
<html>
    <head>
        <title>NetSaver</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&family=Rubik:wght@500&display=swap" rel="stylesheet">
        <style type="text/css">
            .form {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Rubik', sans-serif;
            }

            h1, h3 {
                text-align: center;
                font-family: 'Rubik', sans-serif;
            }

            #footnote {
                text-align: center;
                margin-top: 10%;
                margin-bottom: 3%;
            }

            #main {
                text-align: left;
            }

            
        </style>
    </head>

    <body>

        <div class="container" style="text-align: center;">
            <h1>That is done!</h1>
            <br>
            <br>
            <br>
            <h3>If you are seeing this, you will most likely show up in the class in a minute. You can close this page, turn off the internet, go to sleep, as you feel like.</h3>
            <h3>However, the code is in Testing Phase, so maybe confirm once with your good old friends?</h3>
            <br>
            <p>Have any nice ideas, suggestions, reviews, or a peppy song to share? Let's connect!</p>
        </div>

        <div class="container" id="footnote">
            <hr>
            Made with Web Technologies and <i class="fas fa-heart"></i> by <a href="https://twitter.com/wittier_than_me"><i class="fab fa-twitter"></i>Utkarsh</a>
            <br>
            Get the code on <i class="fab fa-github"></i> <a href="http://www.github.com/utkarsh-raj">GitHub</a>
        </div>


    </body>
</html>